*
{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
}

body
{
    font: 0.92em/1.4 Arial,sans-serif;
}

a
{
    color: #1D67A4;
}

h1
{
    color: #666;
    font: 2.4em Georgia,Times,serif;
    margin: 0 0 0.3em;
}

.clear
{
    clear: both;
}

.header
{
    background-color: #4B4A45;
}

.logo
{
    margin: 0 16px 0 10px;
    float: left;
}

.main_menu
{
    list-style: outside none none;
    float: left;
}

.main_menu li
{
    display: inline-block;
    height: 66px;
    min-width: 80px;
    text-align: center;
    text-align: center;
}

.show
{
    background-color: #EEDFAC;
}

.hide
{
    background-color: #F3EDDF;
}

.main_menu a
{
    text-decoration: none;
    color: #000;
}

.icon
{
    background-image: url("/images/icon-menu.png");
    display: inline-block;
    height: 32px;
    margin-top: 7px;
    width: 32px;
}

.icon_main
{
    background-position: -96px 0;
}

.icon_css
{
    background-position: -32px 0;
}

.icon_site
{
    background-position: -64px 0;
}

.main_search
{
    float: right;
    margin: 20px 30px 0 0;
    padding-top: 1px;
    background-color: #FFF;
}

.search_text
{
    padding: 2px 2px 1px 2px;
    width: 200px;
    float: left;
}

.search_image
{
    margin: 2px 2px 2px 0;
    opacity: 0.5;
    float: left;
}

.title ul
{
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.title li
{
    display: inline-block;
    margin-left: 5px;
    padding: 5px 0;
}

.title a
{
    color: #1d71b8;
    display: inline-block;
    padding: 2px 7px;
    text-decoration: none;
}

.title a:hover
{
    text-decoration: underline;
}

footer
{
    background: linear-gradient(to bottom, #eee 0%, #fff 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-top: 2px solid #CCC;
    clear: both;
    display: block;
    font-size: 0.9em;
    padding: 0 15px 10px;
    left: 0;
    bottom: 0;
    right: 0;
}

footer section
{
    float: left;
    margin: 15px 0;
    width: 190px;
}

footer h4
{
    font-size: 1em;
    margin: 0;
}

footer section p
{
    margin: 3px 0 4px 15px;
}

footer a, footer a:visited 
{
    color: #666;
}

footer p
{
    margin: 1em 0;
}

.hosting
{
    background: url("/images/dh.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    min-height: 36px;
    padding-left: 75px;
}

.copyright
{
    clear: left;
}

aside
{
    float: left;
    background-color: #4B4A45;
    width: 210px;
}

aside .block
{
    margin: 10px 0 15px;
}

aside .block_content
{
    outline: medium none;
    overflow: hidden;
    padding: 0px;
    width: 210px;
}

aside .menu_html_tags
{
    height: 348px;
    width: 184px;
    padding: 0px 5px;
}

.filter
{
    background: none repeat scroll 0 0 #FFF;
    border: 1px solid #666;
    width: 198px;
    margin-left: 5px;
}

.filter_text
{
    font-size: 14px;
    width: 173px;
    border: medium none;
    outline: medium none;
    padding: 2px;
    float: left;
}

.filter_image
{
    margin: 3px 2px 2px 0;
    opacity: 0.5;
    float: left;
}

aside .block_title
{
    background: none repeat scroll 0 0 #dad7c5;
    color: rgba(75, 74, 69, 0.8);
    font-size: 15px;
    font-weight: bold;
    margin: 0 -6px 10px 0;
    padding: 5px 6px 4px 5px;
    position: relative;
    text-shadow: 1px 2px 3px #dad7c5, 0 0 0 #000, 1px 2px 3px #dad7c5;
}

aside .menu
{
    font-size: 14px;
    margin: 0;
    padding: 0 0 0.25em 20px;
}

aside .leaf
{
    background: url("/images/bullet.png") no-repeat scroll 0 6px rgba(0, 0, 0, 0);
    list-style: outside none none;
    margin-left: -10px;
    padding: 0 0 0 15px;
}

aside .collapsed
{
    background: url("/images/bullet2.png") no-repeat scroll 0 6px rgba(0, 0, 0, 0);
    list-style: outside none none;
    margin-left: -10px;
    padding: 0 5px 0 15px;
}

aside a
{
    color: #eedfac;
    display: block;
    line-height: 1.2;
    margin: 3px 0;
    text-decoration: none;
}

aside .menu_css
{
    overflow: hidden;
    padding: 0px 5px;
    height: 349px;
    width: 184px;
}

.content
{
    margin-left: 220px;
    padding: 0 20px 20px;
}

.tabs
{
    margin: 14px 0;
}

.like
{
    margin: -10px 0 5px;
    overflow: hidden;
}

.num_comments
{
    background: url("/images/comments.png") no-repeat scroll 0 4px rgba(0, 0, 0, 0);
    display: inline-block;
    float: right;
    font-size: 13px;
    min-height: 20px;
    padding-left: 24px;
}

.content .block
{
    float: left;
}

table.data
{
    border-collapse: collapse;
    margin: 0.3em auto 0.5em;
    width: 90%;
}

.data td, .data th
{
    border: 1px solid #333;
}

table.browser
{
    border-spacing: 0;
    width: 100%;
}

.browser td
{
    padding: 2px;
    text-align: center;
}

.browser_name td, .browser_version td
{
   border-left: 3px double #333;
}

.browser_name td 
{
    background-color: #FAF3D2;
}

.browser_name td:first-child, .browser_version td:first-child
{
    border-left: 1px solid #333;
}

.iexplore, .chrome, .safari, .opera, .firefox, .android, .iphone, .browser_version span
{
    min-height: 16px;
    padding-left: 20px;
}

.iexplore
{
    background: url("/images/browser_ie.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.chrome
{
    background: url("/images/browser_cr.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.opera
{
    background: url("/images/browser_op.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.safari
{
    background: url("/images/browser_sa.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.firefox
{
    background: url("/images/browser_fx.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.android
{
    background: url("/images/browser_android.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.iphone
{
    background: url("/images/browser_iphone.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.browser_version span
{
    padding-left: 16px;
}

.yes 
{
    background: none repeat scroll 0 0 #CEE2D3;
}

.browser_version td.yes span
{
    background: url("/images/icon_yes.png") no-repeat scroll 0 50% rgba(0, 0, 0, 0);
}

.field_name_taxonomy_vocabulary_10
{
    margin-left: 30px;
}

.field_item
{
    background: url("/images/tag.png") no-repeat scroll 0 2px rgba(0, 0, 0, 0);
    display: inline-block;
    margin-right: 20px;
    padding-left: 24px;
    font-size: 0.92em;
}

