<div class="content">
  <h3>Новый пользователь</h3>
  <form action="SurveySaver.php" method="GET" enctype="multipart/form-data">
    <p>Имя</p>
    <input class="add_user_field" type="text" name="first_name">
    <p>Фамилия</p>
    <input class="add_user_field" type="text" name="last_name">
    <p>email</p>
    <input class="add_user_field" type="text" name="email">
    <p>Возраст</p>
    <input class="add_user_field" type="text" name="age">
    <p><input type="submit" value="Отправить данные"></p>
  </form>
  <form action="usersList.php">
    <input type="submit" value="Вернуться к списку пользователей">
  </form>
</div>