<div class="content">
  <h1 class="title">Тег &lt;canvas&gt;</h1>
  <div class="like">
    <div class="num_comments">
      <a href=""></a>
    </div>
  </div>
  <div class="block">
    <div class="block_content">
      <article>
        <div>
          <table class="data browser">
            <tr class="browser_name">
              <td>
                <span class="iexplore">Internet Explorer</span>
              </td>
              <td>
                <span class="chrome">Chrome</span>
              </td>
              <td>
                <span class="opera">Opera</span>
              </td>
              <td>
                <span class="safari">Safari</span>
              </td>
              <td>
                <span class="firefox">Firefox</span>
              </td>
              <td>
                <span class="android">Android</span>
              </td>
              <td>
                <span class="iphone">iOS</span>
              </td>
            </tr>
            <tr class="browser_version">
              <td class="yes">
                <span>9.0+</span>
              </td>
              <td class="yes">
                <span>6.0+</span>
              </td>
              <td class="yes">
                <span>9.6+</span>
              </td>
              <td class="yes">
                <span>3.1+</span>
              </td>
              <td class="yes">
                <span>4.0+</span>
              </td>
              <td class="yes">
                <span>2.1+</span>
              </td>
              <td class="yes">
                <span>3.0+</span>
              </td>
            </tr>
          </table>
          <h3>Спецификация</h3>
          <table class="standart">
            <tr>
              <td class="html">HTML:</td>
              <td class="no">3.2</td>
              <td class="no">4.01</td>
              <td class="yes">5.0</td>
              <td class="xhtml">XHTML:</td>
              <td class="no">1.0</td>
              <td class="no">1.1</td>
            </tr>
          </table>
          <h3>Описание</h3>
          <p class="description">
            Создает область, в которой при помощи JavaScript можно  рисовать разные объекты,
            выводить изображения, трансформировать их и менять  свойства. При помощи тега
            <span class="tag">&lt;canvas&gt;</span>
            можно создавать рисунки, анимацию,  игры и др.
          </p>
          <h3>Синтаксис</h3>
          <pre><code class="no-buttons">{include file='canvas_syntax.html'}</code></pre>
          <h3>Атрибуты</h3>
          <dl class="param"><dt>height</dt>
            <dd>Задает высоту холста. По умолчанию 300 пикселов.</dd>
            <dt>width</dt>
            <dd>Задает ширину холста. По умолчанию 150 пикселов.</dd>
          </dl>
          <p class="more">Также для этого тега доступны <a href="http://htmlbook.ru/html/attr/common">универсальные атрибуты</a> и <a href="http://htmlbook.ru/html/attr/event">события</a>.</p>
          <h3 class="close_tag">Закрывающий тег</h3>
          <p>Обязателен.</p>          
          <p class="example_support">
            <span class="html yes">HTML5</span>
            <span class="no">IE 8</span><span class="yes">IE 9</span><span class="yes">Cr</span><span class="yes">Op</span><span class="yes">Sa</span><span class="yes">Fx</span>
          </p>
          <h3 class="example_title">Пример</h3>
          <div class="clear"></div>
          <div class="htmlbook_code">
          <pre><code>{include file='canvas_example.html'}</code></pre>
            <div class="example_view">
              <img class="example_win" src="/images/win.gif" title="Посмотреть в этом окне" alt="Посмотреть пример">
              <br>
              <img class="example_win" src="/images/win2.gif" title="Посмотреть в новом окне" alt="Посмотреть пример">
              <br>
            </div>
          </div>
          <p>Результат примера в браузере Opera показан на рис.&nbsp;1.</p>
          <p class="fig"><img src="http://htmlbook.ru/files/images/html/tag_canvas.png" alt="Вывод рисунка с помощью тега &lt;canvas&gt;" width="400" height="299" /></p>
          <p class="figsign">Рис. 1. Вывод рисунка с помощью тега &lt;canvas&gt;</p>
          <div class="articles_links">
            <div class="field_item">
              <a href="">HTML5</a>
            </div>
            <div class="field_item">
              <a href="">Изображения</a>
            </div>
          </div>
        </div>
      </article>
    </div>
  </div>
</div>