<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>Cправочник по HTML - htmlbook.ru</title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <div class="main">
      <div class="header">
        <a href="/"><img class="logo" width="184" height="66" alt="htmlbook.ru" src="/images/logo.png"></a>
        <ul class="main_menu">
          <li class="show">
            <a href="">
              <i class="icon icon_main"></i>
              <br>
              Основное
            </a>
          </li>
          <li class="hide">
            <a href="">
              <i class="icon"></i>
              <br>
              HTML
            </a>
          </li>
          <li class="hide">
            <a href="">
              <i class="icon icon_css"></i>
              <br>
              CSS
            </a>
          </li>
          <li class="hide">
            <a href="">
              <i class="icon icon_site"></i>
              <br>
              Сайт
            </a>
          </li>
        </ul>
        <form class="main_search">
          <input class="search_text" type="text" placeholder="Поиск по сайту" autocomplete="off">
          <input class="search_image" type="image" alt="Найти" src="/images/find.png">
        </form>
        <div class="clear"></div>
        <div class="title show">
          <ul>
            <li>
              <a href="">Статьи</a>
            </li>
            <li>
              <a href="">Блог</a>
            </li>
            <li>
              <a href="">Практикум</a>
            </li>
            <li>
              <a href="">Тесты</a>
            </li>
            <li>
              <a href="">Форум</a>
            </li>
          </ul>
        </div>
      </div>